
ul li{
  list-style: none;
  margin-left: 20px;
  }
  
  #card{
    height: 200px;
    padding: 10px;
    border: 3px solid white;
  }
  
  .bg-grey{
    background-color: darkgrey;
  }
  
  #card:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  
  
  .loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  }
  .loader:before {
    content:"Loading...it may take a few moments."
  }
  